[submodule "Minecraft/external/GLFW"]
	path = Minecraft/external/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Minecraft/external/GLAD"]
	path = Minecraft/external/GLAD
	url = https://github.com/Dav1dde/glad.git
[submodule "Minecraft/external/GLM"]
	path = Minecraft/external/GLM
	url = https://github.com/g-truc/glm.git
